.container-homepage{
  background-color: #000000;
  color: white;
}
.homepage {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }
  
  .homepage__navWraper {
    position: relative;
    flex: 0.2;
  }
  
  .homepage__timeline {
    flex: 0.8;
  }
  
  @media screen and (max-width: 900px) {
    .homepage{
      justify-content: flex-end !important;
    }
}

.homepage__timeline{
  overflow-y: scroll !important;

}


