.post {
    width: 550px;
    margin: 30px 40px 50px 40px;

  }
  
  .post__header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .post__headerAuthor {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bolder;
  }
  
  .post__headerAuthor > span {
    color: grey;
    font-size: 15px;
  }
  
  .post__image > img {
    width: 100%;
    border-radius: 6px;
    border: 0.6px solid rgba(128, 128, 128, 0.516);
  }
  
  .post__footer {
  }
  
  .post__footerIcons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .postIcon {
    padding: 7px;
    font-size: 30px;
  }
  
  .postIcon :hover {
    cursor: pointer;
  }
  .settingsPost{
    transition-property: all !important;
    transition-duration: 0.3s;
    transition-timing-function: linear;
  }
  .settingsPost:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.128);
    border-radius: 8px;
  }
  .tittleComments{
    background-color: rgba(255, 255, 255, 0.128);
    border-radius: 8px;
    width: 160px;
  }
  .textComment{

  margin-top: 15px;
  }

  .textComment input{
    height: 100%;
    background-color: white;
    border-radius: 8px;
    border: 1px solid white;
  }